/*
    Document   : autocomplete
    Created on : 08/03/2013, 11:44:34
    Author     : portal
    Description:
        Purpose of the stylesheet follows.
*/

/* Big box with list of options */
#ajax_listOfOptions{
  position:absolute;  /* Never change this one */
  width:300px;  /* Width of box */
  height:200px;  /* Height of box */
  overflow:auto;  /* Scrolling features */
  background-color:#EBF0FD;
  text-align:left;
  font-size:14px;
  z-index:100;
  border: 1px #2E6AB1 solid;
}
#ajax_listOfOptions div{  /* General rule for both .optionDiv and .optionDivSelected */

  padding:5px;
  cursor:pointer;
  font-size:14px;
  font-family: "Arial", "Verdana";
}
#ajax_listOfOptions .optionDiv{  /* Div for each item in list */

}
#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */
  background-color:#2E6AB1;
  color:white;
}
#ajax_listOfOptions_iframe{
  background-color:#F00;
  position:absolute;
  z-index:5;
}