/*
    Document   : edit-profile
    Created on : 28/01/2013, 09:08:59
    Author     : portal
    Description:
        Purpose of the stylesheet follows.
*/

.editarPerfil{
    width: 90%;
    background: #EBF0FD;
    overflow:auto;

    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;

    /* Border style */
    border: 1px solid #5E78B5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.editarPerfil h3{
    color: black;
    text-align: center;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-shadow: 1px 1px 1px #ccc;
}

.editarPerfil span{
    color: red;
}

.editarPerfil div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.editarPerfil table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.editarPerfil table label{
    text-align: right;
    float: right;
    font-weight: bold;
}